<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Pemilu</title>
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <h1>Summary</h1>
    <table border="1">
      <tbody>
        <tr>
          <td>Jumlah TPS</td>
          <td>
            <%= format(jumlah_tps_with_data) %> dari <%= format(jumlah_tps) %>
            (<%= format(persentase_tps) %>%)
          </td>
        </tr>
        <tr>
          <td>Suara Total</td>
          <td><%= format(suara_total) %></td>
        </tr>
        <tr>
          <td>Suara Sah</td>
          <td><%= format(suara_sah) %></td>
        </tr>
        <tr>
          <td>Suara Tidak Sah</td>
          <td><%= format(suara_tidak_sah) %></td>
        </tr>
        <tr>
          <td>Selisih</td>
          <td>
            <%= format(selisih) %> (Jika minus maka terjadi penambahan suara)
          </td>
        </tr>
        <tr>
          <td>Jumlah TPS dengan data Invalid</td>
          <td><%= format(invalid.length) %></td>
        </tr>
      </tbody>
    </table>

    <h2>Perolehan Suara Palson</h2>

    <% const totalSuara = votes.reduce((prev, curr) => Number(curr.vote) + prev,
    0) %>

    <table border="1">
      <thead>
        <tr>
          <th>No.</th>
          <th>Paslon</th>
          <th>Suara</th>
          <th>%</th>
        </tr>
      </thead>
      <tbody>
        <% votes.forEach(({number, name, vote}) => { %> <% const percentage =
        (Number(vote) / totalSuara * 100).toPrecision(4) %>
        <tr>
          <td><%= number %></td>
          <td><%= name %></td>
          <td><%= format(vote) %></td>
          <td class="red"><%= '='.repeat(percentage) %> <%= percentage %>%</td>
        </tr>
        <% }) %>
      </tbody>
    </table>

    <h2>TPS Dengan Data Invalid</h2>

    <table border="1">
      <thead>
        <tr>
          <th>No.</th>
          <th>Propinsi</th>
          <th>Kota</th>
          <th>Kecamatan</th>
          <th>Desa</th>
          <th>Nama TPS</th>
          <th>Kode TPS</th>
          <th>Suara Total</th>
          <th>Suara Sah</th>
          <th>Suara Tidak Sah</th>
          <th>Paslon 1</th>
          <th>Paslon 2</th>
          <th>Paslon 3</th>
          <th>Selisih Total Suara</th>
          <th>Selisih Suara Sah</th>
        </tr>
      </thead>

      <tbody>
        <% invalid.forEach((el, i) => { %>
        <tr>
          <td><%= ++i %></td>
          <td><%= el.propinsi %></td>
          <td><%= el.kota %></td>
          <td><%= el.kecamatan %></td>
          <td><%= el.desa %></td>
          <td><%= el.nama %></td>
          <td>
            <a href="<%= el.url %>" target="_blank"><%= el.kode %></a>
          </td>
          <td><%= format(el.suara_total) %></td>
          <td><%= format(el.suara_sah) %></td>
          <td><%= format(el.suara_tidak_sah) %></td>
          <td><%= el.vote ? format(el.vote['100025']) : '' %></td>
          <td><%= el.vote ? format(el.vote['100026']) : '' %></td>
          <td><%= el.vote ? format(el.vote['100027']) : '' %></td>
          <td><%= format(el.selisih) %></td>
          <td>
            <%= el.vote ? format(el.suara_sah - el.vote['100025'] -
            el.vote['100026'] - el.vote['100027']) : '' %>
          </td>
        </tr>
        <% }) %>
      </tbody>
    </table>
  </body>
</html>
